.dangky-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63vh;
  }
  
  .dangky-form {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .dangky-form h2 {
    text-align: center;
    color: #9142a3;
  }
  
  .dangky-form label {
    display: block;
    margin-bottom: 8px;
  }
  
  .dangky-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .dangky-button {
    background-color: #9142a3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .dangky-button:hover {
    background-color: #6f2a7b;
  }
  